recursive-include . *.html
recursive-include . *.csv
recursive-include . *.yml
recursive-include . *.ini
include versioneer.py
include intake_odbc/_version.py
include LICENSE
include README.rst
include requirements.txt
